# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment & dependency managers
.venv/
venv/
.env
.env.*
env/

# Packaging & build
build/
dist/
*.egg-info/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# uv
uv.lock

